<a href="https://colab.research.google.com/github/vedangit/Bytes4Charity.github.io/blob/main/Copy_of_exercise0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Data Engineering Concepts - Lab Session 1**

### List
   - It is a fundamental data structure that stores similar data types in an ordered fashion.
   - It is mutable.

In [ ]:
integerList = [2, 3, 4, 5, 6]
print(integerList)

[2, 3, 4, 5, 6]

#### Heterogenous list
- Different datatypes

In [ ]:
hetList = ["a", 3, True, 5.8]
print(hetList)

['a', 3, True, 5.8]

#### Nested List
- List of lists

In [ ]:
List = ["a", "b", 7]
Empty = []
IntList = [1, 2, 3, 4, 5, 6]
Nested = ["g", List, Empty, IntList]
print(Nested)

['g', ['a', 'b', 7], [], [1, 2, 3, 4, 5, 6]]

#### List Operations
- append

In [ ]:
my_list = ["a", "b", 7]
print(my_list)
my_list.append("k")
print(my_list)

['a', 'b', 7]
['a', 'b', 7, 'k']

- delete

In [ ]:
my_list = ["a", "b", 7]
print(my_list)
my_list.remove("b")
print(my_list)

['a', 'b', 7]
['a', 7]

- sort

In [ ]:
integerList = [2, 4, 9, 5, 61]
print(integerList)
integerList.sort()
print(integerList)

[2, 4, 9, 5, 61]
[2, 4, 5, 9, 61]

- reverse

In [ ]:
integerList = [2, 4, 9, 5, 61]
print(integerList)
integerList.reverse()
print(integerList)

[2, 4, 9, 5, 61]
[61, 5, 9, 4, 2]

- insert

In [ ]:
integerList = [2, 4, 9, 5, 61]
print(integerList)
integerList.insert(3, 2)
print(integerList)

[2, 4, 9, 5, 61]
[2, 4, 9, 2, 5, 61]

- length

In [ ]:
integerList = [2, 4, 9, 5, 61]
print(integerList)
print(len(integerList))

[2, 4, 9, 5, 61]
5

- retrieve

In [ ]:
integerList = [2, 4, 9, 5, 61]
print(integerList)
print(integerList[0])
print(integerList[-1])
print(integerList[-3])

[2, 4, 9, 5, 61]
2
61
9

- slice [i:j] -> i (inclusive) and j (exclusive)

In [ ]:
integerList = [2, 4, 9, 5, 61]
print(integerList)
print(integerList[0:3])
print(integerList[3:5])
print(integerList[1:5])
print(integerList[5:3])
print(integerList[0:5:2])

[2, 4, 9, 5, 61]
[2, 4, 9]
[5, 61]
[4, 9, 5, 61]
[]
[2, 9, 61]

#### in operator

### favourite movies

In [ ]:
movies = ["oppenheimer", "infinity war", "sitaramam", "RRKPK", "intestellar"]
rating = [4.9, 4.8, 4.5, 3.7, 4.2]
movies.append("hunger games")
movies.append("harry potter")
movies.append("crazy stupid love")
movies.append("13 going on 30")
movies.append("avengers")
print(movies)

['oppenheimer', 'infinity war', 'sitaramam', 'RRKPK', 'intestellar', 'hunger games', 'harry potter', 'crazy stupid love', '13 going on 30', 'avengers']